

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.boton
{
    margin: 10px;
}

.switch
{
    display: inline-block;
    width: 45px;
    height: 25px;
    background: #aaaa;
    border-radius: 100px;
    position: relative;
    cursor:pointer;
    transition:0.3s;
}

.switch::after
{
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    background-color: #fff;
    border-radius: 100px;
    top: 4px;
    left: 5px;
    transition:0.3s;
}
/* ----------------------------------------------- SWITCH ADMINISTRAR ----------------------------------*/
#swAdministrar
{
    display: none;
}
#swAdministrar:checked~ .switch
{
    background: #61a0ff;
    transition:0.3s;
}
#swAdministrar:checked~ .switch:after
{
    left: 23px; 
}

#swAdministrarEditar
{
    display: none;
}
#swAdministrarEditar:checked~ .switch
{
    background: #61a0ff;
    transition:0.3s;
}
#swAdministrarEditar:checked~ .switch:after
{
    left: 23px; 
}

/* --------------------------------------------- SWITCH VENDER -----------------------------------------*/
#swVender
{
    display: none;
}
#swVender:checked~ .switch
{
    background: #61a0ff;
    transition:0.3s;
}
#swVender:checked~ .switch:after
{
    left: 23px; 
}
#swVenderEditar
{
    display: none;
}
#swVenderEditar:checked~ .switch
{
    background: #61a0ff;
    transition:0.3s;
}
#swVenderEditar:checked~ .switch:after
{
    left: 23px; 
}
