

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.boton
{
    margin: 10px;
}

.switch
{
    display: inline-block;
    width: 45px;
    height: 25px;
    background: #aaaa;
    border-radius: 100px;
    position: relative;
    cursor:pointer;
    transition:0.3s;
}

.switch::after
{
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    background-color: #fff;
    border-radius: 100px;
    top: 4px;
    left: 5px;
    transition:0.3s;
}


/*estadoCliente*/
#swEstadoCliente
{
    display: none;
}
#swEstadoCliente:checked~ .switch
{
    background: #61a0ff;
    transition:0.3s;
}
#swEstadoCliente:checked~ .switch:after
{
    left: 23px; 
}

/*estadoPlan*/
#swEstadoPlan
{
    display: none;
}
#swEstadoPlan:checked~ .switch
{
    background: #61a0ff;
    transition:0.3s;
}
#swEstadoPlan:checked~ .switch:after
{
    left: 23px; 
}


